.lagsana-pic {
    width: 200px;
    height: 200px;  /* Adjusted height to maintain aspect ratio */
}


.lagsana-title {
    color: black;
}

.carbonara-pic {
    width: 200px;
    height: 200px;  /* Adjusted height to maintain aspect ratio */
}

.carbonara-title {
    color: black;
}